<!--  S E C T I O N - C O M M E N T S -->
<section id="comment-header" class="section-hidden">
    <div id="comment-slider" class="carousel slide d-md-none" data-bs-ride="carousel">
        <div class="carousel-inner my-4">
            {% for commentaire in commentaires %}
                <div class="carousel-item {% if loop.first %}active{% endif %}">
                    <div class="col-12">
                        <div class="containt-title">
                            <div class="icon-bg">
                                {% if loop.index == 1 %}
                                    <i class="fa-solid fa-tree"></i>
                                {% elseif loop.index == 2 %}
                                    <i class="fa-solid fa-people-group"></i>
                                {% elseif loop.index == 3 %}
                                    <i class="fa-solid fa-truck"></i>
                                {% endif %}
                            </div>
                            <h1 class="title-comment">{{ commentaire.title }}</h1>
                        </div>
                        <p class="p-comment col-9 mx-auto mt-3 mt-md-0">{{ commentaire.text }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row col-11 mx-auto d-none d-md-flex mt-0 mt-md-5">
        {% for commentaire in commentaires %}
            <div class="col-12 col-md-4">
                <div class="containt-title">
                    <div class="icon-bg">
                        {% if loop.index == 1 %}
                            <i class="fa-solid fa-tree"></i>
                        {% elseif loop.index == 2 %}
                            <i class="fa-solid fa-people-group"></i>
                        {% elseif loop.index == 3 %}
                            <i class="fa-solid fa-truck"></i>
                        {% endif %}
                    </div>
                    <h1 class="title-comment">{{ commentaire.title }}</h1>
                </div>
                <p class="p-comment col-12 col-md-10 mt-md-3 mx-auto">{{ commentaire.text }}</p>
            </div>
        {% endfor %}
    </div>
</section>
<!--  S E C T I O N - C O M M E N T S -->