    <!-- N A V B A R -->
    <section id="navbar">
        <nav class="navbar navbar-expand-md navbar-light bg-white">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">   
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto mt-5 mt-md-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ path('app_index') }}">ACCUEIL</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_produits') }}">NOS PRODUITS</a>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_contact') }}">CONTACT</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
    <!-- N A V B A R -->