<!--  S E C T I O N - P R O D U I T S -->
<section id="section-produits">
    <div class="container-fluid row col-md-10 mx-auto mt-5 mt-md-5">
        <img src="{{ asset('assets/images/' ~ (Article3.picture|default('article-3.jpg'))) }}" alt="Photo d’un stock de bois raboté et de lames." class="picture-produits img-fluid col-md-6 order-md-2 order-1">     
        <div class="containt-text col-md-6 order-md-1 order-2">
            <div class="containt-title">
                <div class="icon-bg">
                    <i class="fa-solid fa-tree"></i>
                </div>
                <h1 class="title-text">{{ Article3.title }}</h1>    
            </div>
            <p class="p-text col-md-10">{{ Article3.text }}</p>
                    <button class="produits-button mt-3 mt-md-3" onclick="window.location.href='{{ path('app_produits') }}'">DÉCOUVRIR</button>
        </div>

    </div>
</section>
<!--  S E C T I O N - P R O D U I T S -->
