    <!-- C O M M E N T - H E A D E R -->
    <section id="comment-header">
        <div id="comment-slider" class="carousel slide d-md-none" data-bs-ride="carousel">
            <div class="carousel-inner my-4">
                <div class="carousel-item active">
                    <div class="col-12">
                        <div class="containt-title">
                            <div class="icon-bg">
                                <i class="fa-solid fa-tree"></i>
                            </div>
                            <h1 class="title-comment">LOREM ISPUM ESTAS</h1>
                        </div>
                        <p class="p-comment col-9 mx-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                            enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea commodo.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-12">
                        <div class="containt-title">
                            <div class="icon-bg">
                                <i class="fa-solid fa-people-group"></i>
                            </div>
                            <h1 class="title-comment">LOREM ISPUM ESTAS</h1>
                        </div>
                        <p class="p-comment col-9 mx-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                            enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea commodo.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-12">
                        <div class="containt-title">
                            <div class="icon-bg">
                                <i class="fa-solid fa-truck"></i>
                            </div>
                            <h1 class="title-comment">LOREM ISPUM ESTAS</h1>
                        </div>
                        <p class="p-comment col-9 mx-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                            enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea commodo.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-11 mx-auto d-none d-md-flex mt-md-5">
            <div class="col-12 col-md-4">
                <div class="containt-title">
                    <div class="icon-bg">
                        <i class="fa-solid fa-tree"></i>
                    </div>
                    <h1 class="title-comment">LOREM ISPUM ESTAS</h1>
                </div>
                <p class="p-comment col-12 col-md-10 mx-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                    enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo.</p>
            </div>
            <div class="col-12 col-md-4">
                <div class="containt-title">
                    <div class="icon-bg">
                        <i class="fa-solid fa-people-group"></i>
                    </div>
                    <h1 class="title-comment">LOREM ISPUM ESTAS</h1>
                </div>
                <p class="p-comment col-12 col-md-10 mx-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                    enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo.</p>
            </div>
            <div class="col-12 col-md-4">
                <div class="containt-title">
                    <div class="icon-bg">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <h1 class="title-comment">LOREM ISPUM ESTAS</h1>
                </div>
                <p class="p-comment col-12 col-md-10 mx-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                    enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo.</p>
            </div>
        </div>
    </section>
    <!-- C O M M E N T - H E A D E R -->