#picture-header {
    position: relative;
}
#picture-header .header-container {
    width: 100%;
    overflow: hidden;
}
#picture-header .header-image {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
    margin-top: 15vw;
}
@media (min-width: 768px) {
    #picture-header .header-image {
        width: 100%; 
        height: auto; 
        object-fit: cover; 
        margin-top: 0vw;
    }
}
