#picture-header {
    position: relative;
}
#picture-header .header-container {
    width: 100%;
    overflow: hidden;
}
#picture-header .header-image {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
    margin-top: 15vw;
}
#picture-header .logo-flou {
    position: absolute; 
    top: 55%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 1; 
    width: 100vw; 
    height: 100vw; 
    object-fit: contain; 
    margin-top: 34vw;
}
@media (min-width: 768px) {
    #picture-header .header-image {
        width: 100%; 
        height: auto; 
        object-fit: cover; 
        margin-top: 3vw;
    }
    #picture-header .logo-flou {
        width: 10vw; 
        height: 10vw; 
        margin-top: 0vw;
    }
    #picture-header .header-container:hover .logo-flou {
        transform: translate(-50%, -50%) scale(2);
        transition: transform 2s ease-out;
    }
}
