#navbar .logo-nav {
    height: 15vw;
    width: 100%;
    margin: 0;
    padding: 0;
}
#navbar .navbar-brand{
    position: absolute;
}
#navbar .container-fluid {
    padding-left: 0;
    padding-top: 0;
}
.navbar-toggler {
    position: absolute;
    top: 1vw; 
    right: 5vw;
    z-index: 1001;
    height: 12vw;
    width: 12vw;
    font-size: 5vw;
    border: white;
    text-align: center;
}
#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    height: 15vw; 
    z-index: 1000; 
}
#navbar .navbar {
    background-color: #ffffff;
    height: 100%;
}
#navbar .navbar-collapse {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    height: 100vh;
    width: 100%;
    position: fixed;    
    top: 15vw;
    left: 0;
    z-index: 999;
    text-align: center;
    font-size: 7vw;
}
#navbar .navbar .nav-link:hover {
    letter-spacing: 2px;
    transition: 1s;
    color: var(--color-one);
}
#navbar .navbar .nav-link.active {
    color: var(--color-one);
    font-weight: 500;
}
#navbar #scrolling-banner {
    padding-top: 15vw;
}
.navbar .nav-link {
    color: #774242; 
    font-weight: bold;
    font-size: 8vw; 
    font-family: 'Darker Grotesque';
    letter-spacing: 1vw;
    padding: 5vw;
}
@media (min-width: 768px) {
    #navbar {
        height: 3vw;
    }
    #navbar .navbar-brand {
        padding-left: 0;
        margin-left: 0;
        margin-top: 0;
        padding-top: 0;
        position: static;
    }
    #navbar .logo-nav {
        width: 100%;
        height: 3.3vw;
    }
    #navbar .navbar {
        height: 100%; 
    }
    #navbar .navbar .nav-link {
        color: var(--color-two);
        font-family: "Darker Grotesque", sans-serif;
        font-weight: 600;
        font-size: 1vw;
        letter-spacing: 1px;
        text-decoration: none;
        margin: 1vw;
    }
    #navbar .navbar .nav-link:hover {
        letter-spacing: 2px;
        transition: 1s;
        color: var(--color-one);
    }
    #navbar .navbar .nav-link.active {
        color: var(--color-one);
        font-weight: 500;
    }
    #navbar .navbar-collapse {
        background-color: transparent;
        backdrop-filter: none;
        height: auto;
        width: auto;
        position: static;
        top: auto;
        left: auto;
        z-index: auto;
    }
    #navbar .navbar .containt-flag {
        display: flex;
        align-items: end; 
        margin-left: 4vw; 
        margin-right: 1vw; 
    }
    #navbar .navbar .bg-blue {
        height: 1.2vw;
        width: 0.6vw;
        background-color: blue;
    }
    #navbar .navbar .bg-white {
        height: 1.2vw;
        width: 0.6vw;
        background-color: rgb(255, 255, 255);
    }
    #navbar .navbar .bg-red {
        height: 1.2vw;
        width: 0.6vw;
        background-color: rgb(255, 0, 0);
    }
    #navbar .navbar .containt-flag {
        height: 100%;
        align-items: center; 
    }
}
