#section-left {
    width: 100%;
}
#section-left .container-fluid {
    display: flex;
    align-items: center;
}
#section-left .containt-text {
    overflow: hidden;
}
#section-left .picture-left {
    position: relative;
}
#section-left .containt-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    margin-top: 4vw;
}
#section-left .p-text {
    text-align: center;
    margin-top: 4vw;
}
#section-left .title-text {
    margin: 0;
}
#section-left .icon-bg {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#section-left .list-elements {
    list-style-type: none;
    margin-left: 5vw;
    margin-top: 5vw;
}
#section-left .p-liste {
    display: flex;
    align-items: center;
    gap: 5vw;
    font-family: 'Bebas Neue', sans-serif;
    color: #775A42;
    font-size: 4vw;
    letter-spacing: 0.2vw;
    padding-left: 5vw;
    margin-bottom: 1vw;
}
#section-left .p-liste::before {
    content: "";
    width: 2.5vw;
    height: 2.5vw;
    background-color: var(--color-one);
    border-radius: 50%;
}
@media (min-width: 768px) {
    #section-left .container-fluid {
        margin-top: 0vw;
    }
    #section-left .containt-text {
        flex-direction: row;
    }
    #section-left .p-liste {
        display: flex;
        align-items: center;
        gap: 1vw;
        font-family: 'Bebas Neue', sans-serif;
        color: var(--color-two);
        font-size: 1.2vw;
        letter-spacing: 0.2vw;
        padding-left: 1.5vw;
        margin-bottom: 1vw;
    }
    #section-left .list-elements {
        margin-top: 2vw;
        margin-left: 0;
    }
    #section-left .containt-title {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 1vw;
        padding-left: 3.4vw;
        margin-top: 0vw;

    }
    #section-left .p-liste::before {
        width: 0.7vw;
        height: 0.7vw;
    }
    #section-left .p-text {
        text-align: start;
        margin-top: 1vw;
    }
    #section-left .icon-bg {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
